.css-zqmafy-control,
.css-kpv7eu-control {
  border: none;
  background: linear-gradient(180deg, #7aa8e4 0%, #3667b7 100%) !important;
  color: white !important;
  background: linear-gradient(180deg, #7aa8e4 0%, #3667b7 100%) !important;
  color: white !important;
  border-color: #3667b7 !important;
}

.css-1jqq78o-placeholder {
  color: white !important;
}

.css-1p3m7a8-multiValue {
  background: #1a29434d !important;
}

.css-wsp0cs-MultiValueGeneric {
  color: white !important;
}

.css-13cymwt-menu {
  background: #1a2943;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px;
  color: white !important;
}

.css-1nmdiq5-menu {
  background: #1a2943 !important;
  min-width: 235px !important;
  left: auto !important;
  right: 0 !important;
}

// .css-1hb7zxy-IndicatorsContainer{

//     width:20px;
// }
// .css-15lsz6c-indicatorContainer,
// .css-1xc3v61-indicatorContainer {
//     background: url('../../public/static/icons/sort.svg') !important;
//     background-position: center;
//     background-repeat: no-repeat;
//     svg {
//         display:none !important;
//     }
// }
