.border {
  &-top-left-0 {
    border-top-left-radius: 0 !important;
  }
  &-top-right-0 {
    border-top-right-radius: 0 !important;
  }
  &-bottom-left-0 {
    border-bottom-left-radius: 0 !important;
  }
  &-bottom-right-0 {
    border-bottom-right-radius: 0 !important;
  }

  @media (max-width: 991px) {
    &-lg-down {
      &-top-left-0 {
        border-top-left-radius: 0 !important;
      }
      &-top-right-0 {
        border-top-right-radius: 0 !important;
      }
      &-bottom-left-0 {
        border-bottom-left-radius: 0 !important;
      }
      &-bottom-right-0 {
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}

// @media (max-width: 991px) {
//     .border-top-lg-down-0{
//         border-top:0
//     }
// }

.line-height {
  &-100 {
    line-height: 100% !important;
  }
}
.border-white-30 {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
